#categoryboxes a.categorybox:hover, #categoryboxes a.categorybox:focus {
    opacity: .7;
}
#categoryboxes a.categorybox span.cbtextbox {
    display: block;
    height: 140px;
    width: 100%;
    padding: 15px;
    padding-top: 40px;
    text-align: center;
    font-size: 1.7em;
    color: white;
    vertical-align: middle;
}
#categoryboxes a.categorybox span.cbmeterbox {
    display: block;
    height: 60px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    bottom: 0px;
}

#categoryboxes a.categorybox span.meter {
    display: block;
    width: 100%;
    height: 20px;
    border: 2px solid #ffffff;
    position: relative;
    top: 20px;
    -webkit-box-shadow: inset 2px 3px 4px -2px #999; 
    -moz-box-shadow: inset 2px 3px 4px -2px #999; 
    box-shadow: inset 2px 3px 4px -2px #999; 
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, 1) 25%, 
	      rgba(235, 235, 235, 1) 25%, 
	      rgba(235, 235, 235, 1) 50%, 
	      rgba(255, 255, 255, 1) 50%, 
	      rgba(255, 255, 255, 1) 75%, 
	      rgba(235, 235, 235, 1) 75%, 
	      rgba(235, 235, 235, 1)
	   );
	background-image: 
		-webkit-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, 1) 25%, 
	      rgba(235, 235, 235, 1) 25%, 
	      rgba(235, 235, 235, 1) 50%, 
	      rgba(255, 255, 255, 1) 50%, 
	      rgba(255, 255, 255, 1) 75%, 
	      rgba(235, 235, 235, 1) 75%, 
	      rgba(235, 235, 235, 1)
	   );
	background-image: 
		linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, 1) 25%, 
	      rgba(235, 235, 235, 1) 25%, 
	      rgba(235, 235, 235, 1) 50%, 
	      rgba(255, 255, 255, 1) 50%, 
	      rgba(255, 255, 255, 1) 75%, 
	      rgba(235, 235, 235, 1) 75%, 
	      rgba(235, 235, 235, 1)
	   );
    background-size:         40px 40px;
}
#categoryboxes a.categorybox span.meter > span {
    display: block;
    height: 100%;
    position: absolute;
}
#categoryboxes a.categorybox span.meter > span.meter-green {
    background-color: #008913;
    left: 0;
    background: -webkit-linear-gradient(top, #008913 0%, #007707 100%);
    background: -moz-linear-gradient(top, #008913 0%, #007707 100%);
    background: linear-gradient(top, #008913 0%, #007707 100%);
}
#categoryboxes a.categorybox span.meter > span.meter-red {
    background-color: #d50000;
    right: 0;
    background: -webkit-linear-gradient(top, #d50000 0%, #b31414 100%);
    background: -moz-linear-gradient(top, #d50000 0%, #b31414 100%);
    background: linear-gradient(top, #d50000 0%, #b31414 100%);
}
@media only screen and (min-width: 800px){
#categoryboxes {
    display: table;
    border-collapse: collapse;
    width: 100%;
}
#categoryboxes .category_row {
    display: table-row;
    border-bottom: 5px solid white;
}
#categoryboxes:after {
    content: '.'; 
    display: block; 
    clear: both; 
    visibility: hidden; 
    height: 0; 
    line-height: 0;
}
#categoryboxes a.categorybox {
    display: table-cell;
    width: 245px;
    width: 25%;
    height: 200px;
    background-color: red;
    border-right: 5px solid white;
    border-left: 5px solid white;
}
#categoryboxes a.categorybox:first-child {
    border-left: 0;
}
#categoryboxes a.categorybox:last-child {
    border-right: 0;
}





}
@media only screen and (max-width: 800px){
#categoryboxes {
    width: 100%;
    overflow: auto;
}
#categoryboxes a.categorybox {
    display: block;
    width: 245px;
    width: 49%;
    float: left;
    height: 150px;
    background-color: red;
    margin-bottom: 5px;
    margin-right: 5px;
}
#categoryboxes a.categorybox span.cbtextbox {
    padding-top: 15px;
    height: 105px;
}
#categoryboxes a.categorybox span.cbmeterbox {
    height: 45px;
}
}
@media only screen and (max-width: 500px){
#categoryboxes a.categorybox {
    float: none;
    width: 100%;
    margin-right: 0;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

}
#categoryboxes a.categorybox span.meter {
    top: 5px;
}